@using System.Linq

@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
    Layout = "_Layout.cshtml";
}
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">GrooveCaster Admin Dashboard</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="/">Dashboard</a></li>
                <li><a href="/me/settings">Settings</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
<div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li><a href="/">Overview</a></li>
                    <li class="active"><a href="/guests">Guest Management <span class="sr-only">(current)</span></a></li>
                    <li><a href="/songs">Song Management</a></li>
                    @if (@Html.RenderContext.Context.CurrentUser.Claims.Contains("super"))
                    {
                        <li><a href="/modules">Module Management</a></li>
                        <li><a href="/settings">Core Settings</a></li>
                        <li><a href="/users">User Management</a></li>
                    }
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <h1 class="page-header">Add a new Guest</h1>
                <p>Guests can manage your broadcast when you're away by approving/rejecting suggestions, skipping unpopular songs, etc.</p>
                <p>In order to get the UserID of a User, have him join your broadcast and type !ping in chat. The bot should respond with his unique UserID.</p>
                <p>Note: The name you specify below is just for personal identification purposes and doesn't have to match the user's name in GrooveShark.</p>

                <form action="/guests/add" method="POST" id="guest-add-form">
                    <label>
                        User ID
                        <input type="number" name="user" class="form-control" placeholder="User ID" required autofocus/>
                    </label>
                    <br/>
                    <label>
                        User Name
                        <input type="text" name="username" class="form-control" placeholder="User Name" required/>
                    </label>
                    <br />
                    <label>
                        <input type="checkbox" name="title"/>
                        Can Edit Title
                    </label>
                    <label>
                        <input type="checkbox" name="description" />
                        Can Edit Description
                    </label>
                    <br />
                    <label>
                        <input type="checkbox" name="permanent" />
                        Can Add Permanent Guests
                    </label>
                    <label>
                        <input type="checkbox" name="temporary" />
                        Can Add Temporary Guests
                    </label>
                    <br />
                    <label>
                        <input type="checkbox" name="super" />
                        Super Guest
                    </label>
                    <br />
                    <label>
                        Channel Permissions
                        <input type="number" class="form-control" placeholder="0" name="permissions" value="6" required>
                    </label>
                    <br /><br />
                    <button type="submit" class="btn btn-primary">Add</button>
                </form>
            </div>
        </div>
    </div>
</div>