@using System.Linq
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
    Layout = "_Layout.cshtml";
}

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">GrooveCaster Admin Dashboard</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="/">Dashboard</a></li>
                <li><a href="/me/settings">Settings</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
<div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li><a href="/">Overview</a></li>
                    <li><a href="/guests">Guest Management</a></li>
                    <li class="active"><a href="/songs">Song Management <span class="sr-only">(current)</span></a></li>
                    @if (@Html.RenderContext.Context.CurrentUser.Claims.Contains("super"))
                    {
                        <li><a href="/settings">Core Settings</a></li>
                        <li><a href="/users">User Management</a></li>
                    }
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <h1 class="page-header">
                    Add a Song
                </h1>
                <p>Use the searchbox below to find a song to add in your collection.</p>
                <p>Note: Do not fill in the fields manually unless you <strong>really</strong> know what you're doing.</p>
                <br/>
                <label>
                    Search for a Song<br/>
                    <input type="text" class="typeahead" placeholder="Song Name" id="song-search-input">
                </label>
                <br/><br/>
                <form action="/songs/add" method="POST">
                    <label>
                        Song ID
                        <input type="number" class="form-control" name="songid" id="songid-input" placeholder="Song ID"/>
                    </label>
                    <br/>
                    <label>
                        Song Name
                        <input type="text" class="form-control" name="song" id="song-input" placeholder="Song Name"/>
                    </label>
                    <br/>
                    <label>
                        Artist ID
                        <input type="number" class="form-control" name="artistid" id="artistid-input" placeholder="Artist ID" />
                    </label>
                    <br/>
                    <label>
                        Artist Name
                        <input type="text" class="form-control" name="artist" id="artist-input" placeholder="Artist Name" />
                    </label>
                    <br/>
                    <label>
                        Album ID
                        <input type="number" class="form-control" name="albumid" id="albumid-input" placeholder="Album ID" />
                    </label>
                    <br/>
                    <label>
                        Album Name
                        <input type="text" class="form-control" name="album" id="album-input" placeholder="Album Name" />
                    </label>
                    <br/><br/>
                    <button type="submit" class="btn btn-primary">Add</button>
                </form>
            </div>
        </div>
    </div>
</div>