@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
    Layout = "_Layout.cshtml";
}

<div class="container error-container">
    <h1>An error occurred.</h1>
    <h3>@Html.Raw(Model.ErrorText)</h3>
</div>