@{
    Layout = "_Layout.cshtml";
}

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">GrooveCaster Admin Dashboard</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="/">Dashboard</a></li>
                <li><a href="/me/settings">Settings</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
<div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li><a href="/">Overview</a></li>
                    <li><a href="/settings">Core Settings</a></li>
                    <li class="active"><a href="/guests">Guest Management <span class="sr-only">(current)</span></a></li>
                    <li><a href="/users">User Management</a></li>
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <h1 class="page-header">
                    Special Guests
                    <a href="/guests/add" class="btn btn-primary btn-sm">Add Guest</a>
                    <a href="/guests/import" class="btn btn-primary btn-sm" id="import-guests">Import Followed Users</a>
                </h1>
                <p>Special Guests are GrooveShark Users who have special guest access in your broadcast, allowing them to perform several actions like approving/rejecting suggestions, managing the queue, and more.</p>
                @foreach (var s_Guest in @Model.Guests)
                {
                    <div class="panel panel-default guest-panel">
                        <div class="panel-heading">@s_Guest.Username (@s_Guest.UserID)</div>
                        <div class="panel-body">
                            <form action="/guests/update/@s_Guest.UserID" method="POST" class="guest-form">
                                <label>
                                    @if (s_Guest.CanEditTitle)
                                    {
                                        <input type="checkbox" name="title" checked="checked"/>
                                    }
                                    else
                                    {
                                        <input type="checkbox" name="title" />
                                    }
                                    Can Edit Title
                                </label>
                                <label>
                                    @if (s_Guest.CanEditDescription)
                                    {
                                        <input type="checkbox" name="description" checked="checked"/>
                                    }
                                    else
                                    {
                                        <input type="checkbox" name="description" />
                                    }
                                    Can Edit Description
                                </label>
                                <label>
                                    @if (s_Guest.CanAddPermanentGuests)
                                    {
                                        <input type="checkbox" name="permanent" checked="checked"/>
                                    }
                                    else
                                    {
                                        <input type="checkbox" name="permanent" />
                                    }
                                    Can Add Permanent Guests
                                </label>
                                <label>
                                    @if (s_Guest.CanAddTemporaryGuests)
                                    {
                                        <input type="checkbox" name="temporary" checked="checked"/>
                                    }
                                    else
                                    {
                                        <input type="checkbox" name="temporary" />
                                    }
                                    Can Add Temporary Guests
                                </label>
                                <label>
                                    @if (s_Guest.SuperGuest)
                                    {
                                        <input type="checkbox" name="super" checked="checked"/>
                                    }
                                    else
                                    {
                                        <input type="checkbox" name="super"/>
                                    }
                                    Super Guest
                                </label>
                                <br/>
                                <label>
                                    Channel Permissions
                                    <input type="number" class="form-control" placeholder="0" name="permissions" value="@((byte) s_Guest.Permissions)" required>
                                </label>
                                <br/><br />
                                <a href="/guests/delete/@s_Guest.UserID" class="btn btn-danger">Delete</a>
                                <button type="submit" class="btn btn-primary">Save</button>
                            </form>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>