@using System.Linq
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
    Layout = "_Layout.cshtml";
}

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">GrooveCaster Admin Dashboard</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="/">Dashboard</a></li>
                <li><a href="/me/settings">Settings</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
<div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li><a href="/">Overview</a></li>
                    <li><a href="/guests">Guest Management</a></li>
                    <li class="active"><a href="/songs">Song Management <span class="sr-only">(current)</span></a></li>
                    @if (@Html.RenderContext.Context.CurrentUser.Claims.Contains("super"))
                    {
                        <li><a href="/settings">Core Settings</a></li>
                        <li><a href="/users">User Management</a></li>
                    }
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <h1 class="page-header">
                    Import Songs
                </h1>
                <p>From this page you can easily import songs from yours (or another users) GrooveShark collection.</p>
                <p>By default, the automatically filled in User ID is the one of your current broadcast user.</p>
                <p>Note: Do not fill in the fields manually unless you <strong>really</strong> know what you're doing.</p>
                <br />
                <label>
                    Search for a User<br />
                    <input type="text" class="typeahead" placeholder="User Name" id="user-search-input">
                </label>
                <br /><br />
                <form action="/songs/import" method="POST" id="song-import-form">
                    <label>
                        User ID
                        <input type="number" class="form-control" name="user" id="user-input" placeholder="User ID" value="@Model.User" />
                    </label>
                    <br /><br />
                    <button type="submit" class="btn btn-primary" id="song-import-btn">Import</button>
                </form>
            </div>
        </div>
    </div>
</div>