@using System.Linq
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
    Layout = "_Layout.cshtml";
    var s_Message = "";
    var s_Error = false;
}

@switch ((int) Model.Status)
{
    case 0:
        s_Message = "Broadcast is created and broadcasting!";
        break;
        
    case 1:
        s_Message = "Authenticating with the GS Backend...";
        break;
        
    case 2:
        s_Message = "Authentication failed. Please check your settings.";
        s_Error = true;
        break;
        
    case 3:
        s_Message = "Creating and initializing broadcast parameters...";
        break;
        
    case 4:
        s_Message = "Broadcast didn't start. Not enough songs in collection. Use the \"Song Management\" interface to add songs.";
        s_Error = true;
        break;
        
    case 5:
        s_Message = "Broadcast creation failed. Please check your settings.";
        s_Error = true;
        break;
}

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">GrooveCaster Admin Dashboard</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="/">Dashboard</a></li>
                <li><a href="/me/settings">Settings</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
<div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li class="active"><a href="/">Overview <span class="sr-only">(current)</span></a></li>
                    <li><a href="/guests">Guest Management</a></li>
                    <li><a href="/songs">Song Management</a></li>
                    @if (@Html.RenderContext.Context.CurrentUser.Claims.Contains("super"))
                    {
                        <li><a href="/settings">Core Settings</a></li>
                        <li><a href="/users">User Management</a></li>
                    }
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <h1 class="page-header">Dashboard</h1>
                <h2 class="sub-header">Server Status</h2>
                <div>
                    @if (s_Error)
                    {
                        <div class="alert alert-danger">@s_Message</div>
                    }
                    else
                    {
                        <div class="alert alert-info">@s_Message</div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>